
// mobile sizes
$mobile-1: 176px;
$mobile-2: 240px;
$mobile-3: 320px;
$mobile-4: 360px;
$mobile-5: 533px;
$mobile-6: 600px;

// tablet sizes
$tablet-1: 768px;
$tablet-2: 800px;
$tablet-3: 1024px;

// laptop sizes
$laptop-1: 1280px;
$laptop-2: 1366px;

// desktop sizes
$desktop-1: 1680px;
$desktop-2: 1920px;
