$theme-dark-bg-color: #333333;

$base-darkTheme-border-color: #8c8c8c;
$base-darkTheme-light-border-color: #474747;


$base-darkTheme-text-color: #ededed;
$base-darkTheme-bold-text-color: green;


/*


$theme-dark-bg-color

$base-darkTheme-border-color

$base-darkTheme-text-color
*/

.theme {
	&-dark {
		background-color: $theme-dark-bg-color;
	}
}