$theme-dark-bg-color: #333333;
$base-darkTheme-border-color: #8c8c8c;
$base-darkTheme-light-border-color: #474747;
$base-darkTheme-text-color: #ededed;
$base-darkTheme-bold-text-color: #018901;

$base-border-color: #d6d6d6;
$base-editable-color: #f7f7f7;
$base-group-header-color: #edf1f2;

$color-mutted-w: #999;
$bg-group-header-d: #363f3f;
$red: #ff7f7f;

$perc: 53px;
$nums: 43px;

// Media
// mobile sizes
$mobile-1: 176px;
$mobile-2: 240px;
$mobile-3: 320px;
$mobile-4: 360px;
$mobile-5: 533px;
$mobile-6: 600px;

// tablet sizes
$tablet-1: 768px;
$tablet-2: 800px;
$tablet-3: 1024px;

// laptop sizes
$laptop-1: 1280px;
$laptop-2: 1366px;

// desktop sizes
$desktop-1: 1680px;
$desktop-2: 1920px;
